/*

Knockout City Purple:	#49006d
	   Dark (custom):	#34004e
Knockout City Yellow:	#ffef00

Common:    idk some kind of light grey/white
Uncommon: 	#9FCE62
  custom:	#5fd633
Rare: 		#4eadea
Epic: 		#ea36f7
Legendary:  #f5c343

*/

body {
	background: #49006d;
	margin: 0px;
	font-family: lato, roboto, sans-serif;
}

.container {
  display: grid;

  grid-template-areas:
    "nav header header"
    "nav content content"
    "nav footer footer";

  grid-template-columns: 275px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  height: 100vh;
}

.strike {
	text-decoration: line-through;
}

.small {
	font-size: 85%;
}

/* HEADER */

header {
	grid-area: header;
	height: 120px;
	font-size: 115%;
	text-align: center;
	background: #3f035e;
	box-shadow: 0px 0px 15px black;
	font-family: Trebuchet MS, lato, roboto, sans-serif;
}

.right-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 0px;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: 900;
	font-style: italic;
	font-size: 1.11em;
}

.right-side div {
	width: 205px;
	padding: 15px 0px;
	padding-left: 30px;
	transition: padding-left 0.25s;
}

.right-side a {
	color: white;
	text-decoration: none;
}


.right-side div:hover a {
	color: black;
}

.right-side div:hover {
	padding-left: 40px;
}

.title {
	padding: 40px 0px 25px 0px;
	font-size: 175%;
	font-weight: bold;
}

.title a {
	color: #43cec0;
	text-decoration: none;
}

.header-link-wrapper:hover {
	background-image: linear-gradient(#2eada0 , #43cec0 );
	color: black;
}

#active-header-link {
	background-image: linear-gradient(#2eada0 , #43cec0 );
	padding-left: 45px;
	color: black;
	text-shadow: 1px 1px 0px grey;
	width: 100%;
}

.nav_bar {
	font-weight: bolder;
	font-style: italic;
	margin: auto;
	max-width: 450px;
	margin-top: 5px;
	height: 51px;
	background: rgba(34, 4, 46, 0.75);
	text-shadow: 0px 0px 6px black;
	box-shadow: 3px 0px 8px #260039;
	position: fixed;
	left: 258px;
	top: 249px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hide {
	display: none;
}

.hover-button:hover .hide {
	display: block;
}

.nav_bar ul {
	list-style-type: none;
	padding: 0px;
}

.nav_bar li {
	display: inline;
	padding: 16px 10px;
	margin: 0px 5px;
	color: #ae9eb3;
	color: white;
}

#bodyA {
	margin-left: 10px;
}

#bodyB {
	margin-right: 10px;
}

.nav_bar li:hover {
	background-image: linear-gradient(orange, yellow);
	box-shadow: inset 0px 0px 8px black, 0px 0px 2px white;
	text-shadow: none;
	color: black;
	cursor: pointer;	
}

.top-nav {
	position: static;
	line-height: 51px;
	max-width: 340px;
	height: 70px;
}

.top-nav ul {
	padding-top: 10px;
}

.top-nav li{
	max-width: 159px;
	margin: 0px 5px;
}

.active-nav {
	background-image: linear-gradient(orange, yellow);
	text-shadow: none;
	color: black !important;
}

/* NAV */

nav {
	top: 0;
	bottom: 0;
	grid-area: nav;
	background: #3f035e;
	position: fixed;
	width: 275px;
	overflow: scroll;
	font-family: Trebuchet MS, lato, roboto, sans-serif;
}

/* MAIN BODY CONTENT */

.info {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	font-size: 125%;
}

.info p {
	line-height: 1.6;
	margin: 0px;
}

.info a {
	color: white;
}

.note {
	font-size: 1.05em;
	width: 95%;
	margin: auto;
	padding: 20px 0px 20px 0px;
}

.home-note {
	width: 95%;
	font-size: 1.05em;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

main {
	grid-area: content;
	color: white;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 40px;
}

.help-div {
	max-width: 700px;
	margin: auto;
	text-align: center;
	font-size: 1.25em;
}

.help-div a {
	color: white;
}

ol {
	padding-left: 0px;
}

ol li {
	font-style: italic;
	line-height: 35px;
}

main img {
	margin-bottom: 20px;
	box-shadow: 0px 0px 8px black;	
}

.chart {
	margin-top: 40px;
}

main h2 {
	text-transform: uppercase;
	padding: 8px 0px;
	margin: 20px auto;
	border-style: solid;
	border-width: 2px;
	max-width: 500px;
	box-shadow: inset 0px 0px 8px black;
	text-shadow: 0px 0px 10px black;
	background: #28003d;
}

main h3 {
	font-weight: normal;
	padding-top: 20px;
	font-size: 125%;
	text-shadow: 0px 0px 10px black;
}

main h4 {
	font-weight: normal;
}

main h1 {
	padding-bottom: 5px;
	text-shadow: 0px 0px 8px black;
}

.code {
	font-size: 80%;
}

.unknown {
	color: #ff8c9a;
	text-transform: uppercase;
}

#common {
	color: lightgrey;
}

#uncommon {
	color: #5fd633;
}

#rare {
	color: #4eadea;
}

#epic {
	color:#ea36f7;
}

#legendary {
	color: #f5c343;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
	background: #08010f;
    flex: 0 0 100px;
    box-sizing: border-box;
	height: 210px;
    margin: .75rem .25em;
	font-weight: bold;
}

.card p {
	margin: 8px 0px;
	text-shadow: 0px 0px 8px black;
}

.card img {
	width: 200px;
	margin: 0px;
}

.centered {
	max-width: 75%;
	margin: 0 auto;
    padding: 0 1em;
}

.chunks {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
	justify-content: center;
}

.chunk {
	flex: 1 0 1;
	height: 550px;
	margin: .75rem .75em;
	padding-bottom: 25px;
	width: 760px;
	background: #34004e;
	box-shadow: 0px 0px 4px black;
}

.chunk h3 {
	font-size: 1.5em;
	padding-top: 5px;
}

/*@media screen and (min-width: 40em) {
    .card {
       max-width: 200px;
    }
}*/

/* FOOTER */

footer {
	grid-area: footer;
	background: #3b0458;
	font-size: 95%;
	text-align: center;
	padding: 15px 0px;
	color: white;
}

footer a {
	color: #fddcff;
	text-underline-offset: 0.25em;
}

/* MOBILE RULES */

@media screen and (max-width: 1068px) {
	
	.container {
	  grid-template-areas:
		"header header header"
		"nav nav nav"
		"content content content"
		"footer footer footer";

	  grid-template-columns: 200px 1fr 200px;
	  grid-template-rows: auto 1375px 1fr auto;
	  grid-gap: 0px;

	  height: 100vh;
	}
	
	main {
		background: #49006d;
	}
	
	header {
		height: 105px;
		font-size: 1.1em;
	}
	
	nav {
		position: static;
		width: 100%; 
		text-align: center;
	}
	
	nav div {
		margin: auto;
	}
	
	#bodyA {
		display: none;
	}
	
	#bodyB {
		display: none;
	}
	
	.right-side {
		margin-top: 0px;
		font-weight: 900;
		font-style: italic;
		font-size: 1.3em;
	}

	.right-side div {
		width: 100%;
		padding: 20px 0px;
		padding-left: 0px;
		transition: padding-left 0.25s;
	}

	.right-side a {
		color: white;
		text-decoration: none;
	}


	.right-side div:hover a {
		color: black;
	}

	.right-side div:hover {
		padding-left: 0px;
	}
	
	#active-header-link {
		background-image: linear-gradient(orange, yellow);
		padding-left: 0px;
		color: black !important;
		text-shadow: 0px 0px 1px black;
		font-size: 1.225em;
	}
}

@media screen and (max-width: 790px) {
	
	.header {
		height: 200px;
	}
	
	.chunk {
		width: 415px;
		height: 1015px;
	}
	
	.centered {
		max-width: 90%;
	}
	
	.info {
		max-width: 90%;
	}
	
	.main-img {
		
	}
	
}

@media screen and (max-width: 545px) {
	
	main h2 {
		width: 95%;
	}
	
}